<div class="banner">
  🔥 Want to learn accessibility? Enroll now for
  <a target="_blank" href="https://accessibilitytestingcourse.com/">Accessibility Testing Course</a>.
</div>

<style>
  .banner {
    background-color: #d24141;
    color: #fff;
    padding: 1rem;
  }

  .banner a,
  .banner a:active,
  .banner a:visited {
    color: #fff;
    font-weight: 600;
  }

  .banner a:focus,
  .banner a:hover {
    background-color: #fff;
    text-decoration: none;
    color: #d24141;
  }
</style>