<footer>
  <div class="content">
    <p>
      © 2024
      <a target="_blank" href="https://www.sergeikriger.com/">Сергій Крігер</a>. Усі права захищено.
    </p>
    <p>
      Зібрано
      <a target="_blank" href="https://en.wikipedia.org/wiki/Hand">Руками</a>. Хоститься на
      <a target="_blank" href="https://www.netlify.com/">Netlify</a>. Вихідний код на
      <a target="_blank" href="https://github.com/sergeicodes/a11ymyths">GitHub</a>. Читати
      <a target="_blank" href="https://bsky.app/profile/sergeikriger.com">@sergeikriger.com</a>. Переклала
      <a target="_blank" href="https://www.facebook.com/leonida.ponomareva">Леоніда Пономарьова</a>.
    </p>
  </div>
</footer>
