<footer>
  <div class="content">
    <p>
      © 2024
      <a target="_blank" href="https://www.sergeikriger.com/">Sergei Kriger</a>. All rights reserved.
    </p>
    <p>
      <a target="_blank" rel="noopener" href="https://en.wikipedia.org/wiki/Hand">手</a>作り。
      <a target="_blank" rel="noopener" href="https://www.netlify.com/">Netlify</a> でホストされています。
      元のソースコードは<a target="_blank" rel="noopener" href="https://github.com/sergeicodes/a11ymyths">GitHub</a
      >にあります。<a target="_blank" href="https://bsky.app/profile/sergeikriger.com">@sergeikriger.com</a
      >をフォローしてください。
      <a target="_blank" href="https://twitter.com/okuto_oyama">@okuto_oyama</a> が翻訳しました。
    </p>
  </div>
</footer>
