<footer>
  <div class="content">
    <p>
      © 2025
      <a target="_blank" href="https://www.sergeikriger.com/">Sergei Kriger</a>. Tutti i diritti riservati.
    </p>
    <p>
      Fatto a
      <a target="_blank" href="https://en.wikipedia.org/wiki/Hand">mano</a>. Ospitato su
      <a target="_blank" href="https://www.netlify.com/">Netlify</a>. Il codice sorgente è attivo su
      <a target="_blank" href="https://github.com/sergeicodes/a11ymyths">GitHub</a>. Segui
      <a target="_blank" href="https://bsky.app/profile/sergeikriger.com">@sergeikriger.com</a>. Tradotto in italiano da
      <a target="_blank" href="https://twitter.com/trasportation">Roberto Beccari</a>.
    </p>
    <p>
      {% include "imprint.njk" %}
    </p>
  </div>
</footer>
