<footer>
  <div class="content">
    <p>
      © 2025
      <a target="_blank" href="https://www.sergeikriger.com/">سيرجي كريجر</a>. جميع الحقوق محفوظة.
    </p>
    <p>
      تم الإنشاء بواسطة
      <a target="_blank" href="https://en.wikipedia.org/wiki/Hand">Hands</a>. تمت الاستضافة على
      <a target="_blank" href="https://www.netlify.com/">Netlify</a>. رمز المصدر على
      <a target="_blank" href="https://uxwritingar.com">UX Writing بالعربية</a>. ترجمة وتعريب فريق
      <a target="_blank" href="https://github.com/sergeicodes/a11ymyths">GitHub</a>. تابع
      <a target="_blank" href="https://bsky.app/profile/sergeikriger.com">sergeikriger.com</a>.
    </p>
  </div>
</footer>
