<footer>
  <div class="content">
    <p>
      2024 © 
      כל הזכויות שמורות ל-<a target="_blank" href="https://www.sergeikriger.com/">Sergei Kriger</a>.
    </p>
    <p>
      נבנה ב
      <a target="_blank" href="https://he.wikipedia.org/wiki/%D7%9B%D7%A3_%D7%99%D7%93">ידיים</a>. מאוחסן על גבי
      <a target="_blank" href="https://www.netlify.com/">Netlify</a>. קוד מקור נמצא ב-
      <a target="_blank" href="https://github.com/sergeicodes/a11ymyths">GitHub</a>. עקבו אחרי
      <a target="_blank" href="https://bsky.app/profile/sergeikriger.com">@sergeikriger.com</a>. תורגם על ידי
      <a target="_blank" href="https://github.com/shayr1">@shayr</a>.
    </p>
  </div>
</footer>