<footer>
  <div class="content">
    <p>
      © 2025
      <a target="_blank" href="https://www.sergeikriger.com/">Сергей Кригер</a>. Все права защищены.
    </p>
    <p>
      Собран
      <a target="_blank" href="https://en.wikipedia.org/wiki/Hand">Руками</a>. Хостится на
      <a target="_blank" href="https://www.netlify.com/">Netlify</a>. Исходный код на
      <a target="_blank" href="https://github.com/sergeicodes/a11ymyths">GitHub</a>. Читать
      <a target="_blank" href="https://bsky.app/profile/sergeikriger.com">@sergeikriger.com</a>. Перевела
      <a target="_blank" href="https://twitter.com/ta_fokina">@ta_fokina</a>.
    </p>
  </div>
</footer>
