<footer>
  <div class="content">
    <p>
      © 2025
      <a target="_blank" href="https://www.sergeikriger.com/">Sergei Kriger</a>. Todos los derechos reservados.
    </p>
    <p>
      Construido con las
      <a target="_blank" href="https://en.wikipedia.org/wiki/Hand">Manos</a>. Hosteado en
      <a target="_blank" href="https://www.netlify.com/">Netlify</a>. El código está en
      <a target="_blank" href="https://github.com/sergeicodes/a11ymyths">GitHub</a>. Seguime
      <a target="_blank" href="https://bsky.app/profile/sergeikriger.com">@sergeikriger.com</a>. Traducido por
      <a target="_blank" href="https://twitter.com/pazguille">@pazguille</a>.
    </p>
  </div>
</footer>
