<footer>
  <div class="content">
    <p>
      © 2025
      <a target="_blank" href="https://www.sergeikriger.com/">Sergei Kriger</a>. Todos os direitos reservados.
    </p>
    <p>
      Construido por
      <a target="_blank" href="https://en.wikipedia.org/wiki/Hand">Hands</a>. Hospedado em
      <a target="_blank" href="https://www.netlify.com/">Netlify</a>. O código fonte está no
      <a target="_blank" href="https://github.com/sergeicodes/a11ymyths">GitHub</a>. Acompanhe
      <a target="_blank" href="https://bsky.app/profile/sergeikriger.com">@sergeikriger.com</a>. Traduzido por
      <a target="_blank" href="https://www.felipegenuino.com/"> Felipe Genuino</a> revisado por
      <a target="_blank" href="https://www.linkedin.com/in/mauricio-sa-peixoto/"> Maurício Sá</a>
    </p>
    <p>
      {% include "imprint.njk" %}
    </p>
  </div>
</footer>
