<footer>
  <div class="content">
    <p>
      © 2025
      <a target="_blank" href="https://www.sergeikriger.com/">Sergei Kriger</a>. All rights reserved.
    </p>
    <p>
      Built by
      <a target="_blank" href="https://en.wikipedia.org/wiki/Hand">Hands</a>. Hosted on
      <a target="_blank" href="https://www.netlify.com/">Netlify</a>. The source code is on
      <a target="_blank" href="https://github.com/sergeicodes/a11ymyths">GitHub</a>. Follow
      <a target="_blank" href="https://bsky.app/profile/sergeikriger.com">@sergeikriger.com</a>.
    </p>
  </div>
</footer>