<footer>
  <div class="content">
    <p>
      © 2025
      <a target="_blank" href="https://www.sergeikriger.com/">Sergei Kriger</a>. Todos os direitos reservados.
    </p>
    <p>
      Construído com as
      <a target="_blank" href="https://en.wikipedia.org/wiki/Hand">Mãos</a>. Hospedado em
      <a target="_blank" href="https://www.netlify.com/">Netlify</a>. O código fonte está no
      <a target="_blank" href="https://github.com/sergeicodes/a11ymyths">GitHub</a>. Segue
      <a target="_blank" href="https://bsky.app/profile/sergeikriger.com">@sergeikriger.com</a>. Traduzido por
      <a target="_blank" href="https://twitter.com/pedrodfcosta">@pedrodfcosta</a>
    </p>
  </div>
</footer>
