<footer>
  <div class="content">
    <p>
          © 2025
          <a target="_blank" href="https://www.sergeikriger.com/">Sergei Kriger</a>. Alle Rechte vorbehalten.
        </p>

    <p>
      <a target="_blank" href="https://en.wikipedia.org/wiki/Hand">Handgemacht</a>. Hosted on
          <a target="_blank" href="https://www.netlify.com/">Netlify</a>. Der Quellcode liegt auf
          <a target="_blank" href="https://github.com/sergeicodes/a11ymyths">GitHub</a>. Folge
          <a target="_blank" href="https://bsky.app/profile/sergeikriger.com">@sergeikriger.com</a>. Übersetzt von
          <a target="_blank" href="https://www.linkedin.com/in/hannah-reuter-588b16a8/">Hannah Reuter</a>
    </p>
  </div>
</footer>