<footer>
  <div class="content">
    <p>
      © 2025
      <a target="_blank" href="https://www.sergeikriger.com/">Sergei Kriger</a>. 版權所有。
    </p>
    <p>
      由<a target="_blank" href="https://en.wikipedia.org/wiki/Hand">雙手</a>建立， 由<a
        target="_blank"
        href="https://www.netlify.com/"
        >Netlify</a
      >
      提供網頁寄存， 原始碼在<a target="_blank" href="https://github.com/sergeicodes/a11ymyths">GitHub</a>, 追蹤<a
        target="_blank"
        href="https://bsky.app/profile/sergeikriger.com"
        >@sergeikriger.com</a
      >，
      <a target="_blank" href="https://twitter.com/tsai_chiaying">@tsai_chiaying</a>
      協助翻譯。
    </p>
  </div>
</footer>
