<footer>
  <div class="content">
    <p>
      © 2025
      <a target="_blank" href="https://www.sergeikriger.com/">Sergei Kriger</a>. Tous droits réservés.
    </p>
    <p>
      Construit à la <a target="_blank" href="https://fr.wikipedia.org/wiki/Main">Main</a>. Hébergé sur
      <a target="_blank" href="https://www.netlify.com/">Netlify</a>. Le code source est sur
      <a target="_blank" href="https://github.com/sergeicodes/a11ymyths">GitHub</a>. Suivez
      <a target="_blank" href="https://bsky.app/profile/sergeikriger.com">@sergeikriger.com</a>. Traduit par
      <a target="_blank" href="https://twitter.com/marioncouesnon">Marion Couesnon</a>.
    </p>
  </div>
</footer>
