<header>
  <div class="content">
    <nav class="nav">
      <ul class="nav__list">
        {%- for page in collections.page | sort -%}
          <li class="nav__list-item">
            <a class="nav__link" lang="{{ page.data.lang.code }}" href={% if page.data.lang.code === 'en' %} '/' {% else %} '{{ page.data.lang.code }}/' {% endif %}>
              {{ page.data.lang.title }}
            </a>
          </li>
        {%- endfor -%}

        {# 
        
        <li class="nav__list-item">
          <a class="nav__link" lang="fr" href="/fr/">Français</a>
        </li>
        <li class="nav__list-item">
          <a class="nav__link" lang="id" href="/id/">Bahasa Indonesia</a>
        </li>
        <li class="nav__list-item">
          <a class="nav__link" lang="it" href="/it/">Italiano</a>
        </li>
        
        <li class="nav__list-item">
          <a class="nav__link" lang="pt-br" href="/pt-br/">Português (Brasil)</a>
        </li>
        <li class="nav__list-item">
          <a class="nav__link" lang="pt" href="/pt/">Português (Portugal)</a>
        </li>
        <li class="nav__list-item">
          <a class="nav__link" lang="uk" href="/uk/">Українська</a>
        </li>
         #}
      </ul>
    </nav>
  </div>
</header>