<script type="text/javascript" src="https://storage.ko-fi.com/cdn/widget/Widget_2.js"></script>
<script type="text/javascript">
  kofiwidget2.init("Say thanks!", "#F14C4C", "B0B77IR22");
  kofiwidget2.draw();
</script>