---
title: Page Not Found
permalink: 404.html
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/styles/styles.css"/>
    <link rel="icon" type="image/x-icon" href="/favicons/favicon.ico"/>
    <style>
      body,
      html {
        height: 100%;
      }

      body {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      h1 {
        margin: 0;
        font-size: 1.9rem;
      }
    </style>
  </head>
  <body>
    <div class="content">
      <h1>{{ title }}</h1>
      Return to <a href="/">Home Page</a>.
    </div>
  </body>
</html>