---
title: מיתוסים על נגישות
description: פרויקט קטן להפרכת מיתוסים נפוצים על נגישות.
stamp: הופרך
phrase: שלחו את הקישור לעמוד זה למנהלים, לעמיתים וללקוחות
lang:
  code: he
  title: עברית
permalink: he.html
tags: page
layout: page.njk
---

<style>
  body {
    font-family: "Open Sans", sans-serif;
  }

  .nav__list {
    direction: initial;
  }

  .myth h2::before {
    content: "מיתוס מספר " counter(myth);
  }
</style>

<section class="myth">
  <h2>נגישות משפיעה רק על קבוצה קטנה של משתמשים</h2>

  <p>
    לא כל כך קטנה. <strong>16%</strong>
    מאוכלוסיית העולם, או בערך
    <strong>1.3 מיליארד</strong>
    אנשים חיים עם מוגבלויות, והם קבוצת המיעוט הגדולה בעולם. מספר האנשים הסובלים ממוגבלויות גדל בעקביות.
  </p>

  <a href="https://www.who.int/en/news-room/fact-sheets/detail/disability-and-health" target="_blank"
    >לפרטים נוספים <span class="visually-hidden">על "נגישות משפיעה רק על קבוצה קטנה של משתמשים"</span></a
  >
</section>

<section class="myth">
  <h2>משתמשים בעלי מוגבלויות לא גולשים באתר שלי</h2>

  <p>
    אתם בטוחים? אנשים בעלי מוגבלויות רבות, כמו עיוורון צבעים או כישורים מוטוריים מוגבלים, משתמשים
    באינטרנט בדיוק כמו אחרים. בנוסף, רוב <strong>העזרים הטכנולוגיים כלל לא ניתנים לגילוי</strong>
    בשום צורה.
  </p>

  <a href="https://www.w3.org/WAI/people-use-web/" target="_blank"
    >לפרטים נוספים <span class="visually-hidden">על "משתמשים בעלי מוגבלויות לא גולשים באתר שלי"</span></a
  >
</section>

<section class="myth">
  <h2>בניית אתרים נגישים יקרה ולוקחת הרבה זמן</h2>

  <p>
    לא אם נגישות נלקחת בחשבון כבר בתחילת הפרויקט ולצוות המפתחים יש את הכישורים הנדרשים. כאשר נגישות הופכת להרגל, <strong>זמן הפיתוח לא משתנה</strong>
    או משתנה מעט.
  </p>
</section>

<section class="myth">
  <h2>אנחנו יכולים להנגיש את האתר רגע לפני העלייה לאוויר</h2>

  <p>
    זה לא יעבוד. ייתכן שאפשר להנגיש בקלות אלמנטים מסוימים, כמו טקסט אלטרנטיבי או כותרות בטפסים, אבל
    <strong>חוויית משתמש מורכבת מחייבת תכנון מוקדם כדי להיות נגישה.</strong> הנגשת פיצ׳רים מסוימים רק בסוף תהליך הפיתוח עלולה לעיתים לחייב כתיבה מחדש של חלקים גדולים מהקוד.
  </p>
</section>

<section class="myth">
  <h2>נגישות היא רק הוספת טקסט אלטרנטיבי לתמונות</h2>

  <p>
    היעדר טקסט אלטרנטיבי לתמונות היא אמנם אחת
    <a target="_blank" href="https://webaim.org/projects/million/">מבעיות הנגישות הגדולות ביותר</a>. אבל אתר נגיש כולל התייחסות לדברים נוספים: <strong>סדר הכותרות</strong>,
    <strong>פקדים פונקציונליים</strong>,
    <strong>ניגוד צבעים</strong>
    ועוד.
  </p>
</section>

<section class="myth">
  <h2>רק מפתחים אחראים לנגישות</h2>
  <p>
    זו עבודת צוות.
    <strongה>מעצבים</strong>
    יוצרים ממשק משתמש נגיש,
    <strongה>מפתחים</strong>
    בונים אותו,
    <strong>בודקי התוכנה</strong>
    מריצים בדיקות,
    <strong>מנהלי הפרויקט</strong>
    מוודאים שהנגישות כלולה בתהליך,
    <strong>הצוות המשפטי</strong>
    מוודא שהמוצר עומד בדרישות החוק ו-<strong>מנהלי התוכן</strong>
    מתאימים את התוכן לדרישות.
  </p>

  <a href="https://accessibility.digital.gov/" target="_blank"
    >לפרטים נוספים <span class="visually-hidden">על "רק מפתחים אחראים לנגישות"</span></a
  >
</section>

<section class="myth">
  <h2>נגישות עוזרת רק לבעלי מוגבלויות</h2>

  <p>
    למרבה המזל
    <strong>היא עוזרת לכולם</strong>. המציאות מוכיחה, שאימוץ והטמעת נגישות משפרת את חוויית המשתמשים כולם, ומסייעת ליצירת אתר נוח וקל לתפעול.
  </p>
</section>

<section class="myth">
  <h2>להנגשת אתרים אין יתרונות נוספים</h2>
  <p>
    הנה רשימה חלקית: יותר משתמשים, יותר הכנסות, מוניטין משופר, פחות סיכונים משפטיים, שיפור כישורי צוות המפתים ועוד. ובכלל, <strong>הבחירה לעשות את הדבר הנכון</strong>
    לא חייבת להיות מונעת משיקול כלכלי.
  </p>
</section>

<section class="myth">
  <h2>אפשר לתקן בעיות נגישות בעזרת תוסף נגישות</h2>

  <p>
    בהחלט לא. מאות אנשי מקצוע ומומחי נגישות 
    <a target="_blank" href="https://overlayfactsheet.com/">גיבשו רשימה מפורטת</a>
      של בעיות וחסרונות של תוספי נגישות, וקוראים לבעלי אתרים לחדול להשתמש בהם.
  </p>
</section>

<section class="myth">
  <h2>שימוש בכלי בדיקה אוטומטיים מבטיח אתר נגיש</h2>

  <p>
    זה היה יכול להיות נהדר, אבל זה לא המצב. כלי בדיקה אוטומטיים יכולים למצוא רק
    <a target="_blank" href="https://marcysutton.com/evinced-automated-accessibility-testing"
      >50%-30% מבעיות הנגישות</a
    >. למעשה, אפשר
    <a
      target="_blank"
      href="https://www.matuzo.at/blog/building-the-most-inaccessible-site-possible-with-a-perfect-lighthouse-score/"
      >לבנות אתר לא נגיש בעליל</a
    > באופן שמטעה כלי בדיקה אוטומטיים.
  </p>
</section>

<section class="myth">
  <h2>נגישות היא רק לאנשים בעלי עיוורון</h2>
  <p>
    נגישות משפיעה כמובן על חוויית הגלישה של משתמשים בעלי לקות ראייה, אבל היא רלוונטית גם לעיוורי צבעים, למשל. ובל נשכח, שנגישות נוגעת גם לבעלי מוגבלויות פיזיות או קוגנטיביות אחרות, כמו שמיעה, ניידות, דיבור ועוד. נגישות מסייעת גם למשתמשים מבוגרים. בקיצור, נגישות היא לכולם.            <strong>היא מחויבת לפי חוק, אבל מועילה לכולם</strong>.
  </p>

  <a href="https://www.w3.org/WAI/fundamentals/accessibility-intro/" target="_blank"
    >לפרטים נוספים <span class="visually-hidden">על "נגישות היא רק לאנשים בעלי עיוורון</span></a
  >
</section>

<section class="myth">
  <h2>נגישות היא לא חובה</h2>
  <p>
    עד שתגיע התביעה. כדאי לקרוא על התביעות שהוגשו נגד
    <a
      href="https://www.nad.org/2011/06/16/nad-files-disability-civil-rights-lawsuit-against-netflix/"
      target="_blank"
      >נטפליקס</a
    >
ו<a href="https://www.cnbc.com/2019/10/07/dominos-supreme-court.html" target="_blank">פיצה דומינוס</a>, כדי להבין שאתר לא נגיש עלול לעלות לכם ביוקר.
    <a href="https://www.w3.org/WAI/policies/" target="_blank">במדינות רבות</a>
    קיימים חוקים המחייבים אתרים לעמוד בתקנות נגישות.
  </p>
</section>

<section class="myth">
  <h2>נגישות היא רק כדי למנוע תביעות</h2>

  <p>
    נגישות היא בשביל המשתמשים שלכם. מניעת תביעות חשובה לכל עסק, אבל
    ל<strong>שביעות רצון המשתמשים</strong> ושיפור <strong>המוניטין של החברה</strong> יש ערך רב.
  </p>
</section>
<section class="myth">
  <h2>כל מה שצריך כדי להבטיח אתר נגיש זה לעמוד בתקנות WCAG</h2>

  <p>
לעמוד            <a href="https://www.w3.org/WAI/WCAG21/quickref/" target="_blank">בתקנות WCAG</a> זו נקודת התחלה טובה, אבל
    אתרים נגישים לפי התקן הנ״ל עדיין יכולים להיות לא נגישים. נגישות היא הבנת הצרכים של כל המשתמשים, ודורשת אמפתיה ומודעות.
  </p>
</section>

<section class="myth">
  <h2>מספיק להוסיף ARIA לאלמנטים כדי להבטיח נגישות</h2>

  <p>
    ל-<a href="https://www.w3.org/WAI/standards-guidelines/aria/" target="_blank">ARIA</a>
    יש חלק חשוב בנגישות, אבל הכלל הראשון של התקן הוא
    <a href="https://w3c.github.io/using-aria/#rule1" target="_blank">"אל תשתמשו ב-ARIA"</a>. במקרים רבים, אין צורך ב-ARIA אם בונים אתר
    <a href="https://developer.mozilla.org/en-US/docs/Learn/Accessibility/HTML#good_semantics" target="_blank"
      >הכולל HTML סמנטי</a
    >.
  </p>
</section>

<section class="myth">
  <h2>אנחנו לא צריכים לעמוד בדרישות</h2>

  <p>
    אולי כן. חוקים ותקנות שונים מחייבים אתרים לעמוד בתקני נגישות. בהחלט כדאי לבדוק את
    הנושא.
  </p>

  <a href="https://www.gov.il/he/departments/guides/website_accessibility" target="_blank"
    >לפרטים נוספים <span class="visually-hidden">"על אנחנו לא צריכים לעמוד בדרישות"</span></a
  >
</section>

<section class="myth">
  <h2>רק מומחי נגישות יכולים לפתור בעיות נגישות</h2>

  <p>
    למרבה המזל לא. כל מי שיש לו כישורים רלוונטיים יכול להטמיע את השינויים הנדרשים ולבדוק אם האתר נגיש. קל ללמוד נגישות, וזו יכולה להיות חוויה מהנה. אין צורך בהתמחות ספציפית כדי להריץ
    <a href="https://www.w3.org/WAI/test-evaluate/preliminary/" target="_blank">בדיקות פשוטות</a>.
  </p>
</section>

<section class="myth">
  <h2>הנגשה היא כמו הוספת פיצ׳ר חדש: מטלה חד פעמית</h2>
  <p>
    נגישות אינה עניין חד פעמי, אלא תהליך מתמשך. המשמעות היא, שצריך להמשיך לעבוד על נגישות באופן קבוע—כאשר מוסיפים פיצ׳רים או מבצעים תחזוקה שוטפת. חשוב לחלוק את הידע המצטבר בנושא, להתעדכן בשינויים ולהכשיר עובדים חדשים בצוות.
  </p>

  <a href="https://ethanmarcotte.com/wrote/accessibility-is-not-a-feature/" target="_blank"
    >לפרטים נוספים <span class="visually-hidden">על "הנגשה היא כמו הוספת פיצ׳ר חדש: מטלה חד פעמית"</span></a
  >
</section>

<section class="myth">
  <h2>אפשר לפתור בעיות נגישות באמצעות גירסה נפרדת למשתמשים בעלי מוגבלויות</h2>

  <p>
    זו תמיד היתה הנחה שגויה. צוותי פיתוח רבים כבר
    <strong>למדו בדרך הקשה</strong>, שתחזוקת גירסאות שונות של אותו האתר (כולל שמירה על תוכן עדכני) <strong>עולה הרבה יותר</strong>
    מבניית אתר אחד נגיש.
  </p>
</section>

<section class="myth">
  <h2>אנשים בעלי מוגבלויות לא משתמשים באינטרנט</h2>

  <p>
    לא נכון בעליל. במקרים מסויימים, האינטרנט הוא
    <strong>הדרך היחידה</strong>
    שבה אנשים בעלי מוגבלויות יכולים לתקשר עם הסביבה. בניגוד לאנשים ללא מוגבלויות, הנעזרים בחוש הראייה והשמיעה, 
    <strong>אנשים בעלי מוגבלויות מסתמכים על טכנולוגיה</strong>.
  </p>

  <a href="https://www.w3.org/WAI/people-use-web/" target="_blank"
    >לפרטים נוספים <span class="visually-hidden">על "אנשים בעלי מוגבלויות לא משתמשים באינטרנט"</span></a
  >
</section>

<section class="myth">
  <h2>אנשים בעלי עיוורון לא צופים בסרטים</h2>

  <p>
    הם אולי לא ״צופים״ בסרטים, אבל הם בהחלט יכולים ליהנות מהם ולהקשיב ל<strong>תיאורים הקוליים</strong>.
    הם יכולים לצרוך כל סוג מדיה, כמו כל האנשים.
  </p>

  <a href="https://www.w3.org/WAI/media/av/description/" target="_blank"
    >לפרטים נוספים <span class="visually-hidden">על "אנשים בעלי עיוורון לא צופים בסרטים"</span></a
  >
</section>

<section class="myth">
  <h2>רק אנשים בעלי מוגבלויות יכולים לבחון נגישות</h2>

  <p>
    ובכן, אנשים בעלי מוגבלויות הם אכן הבודקים הטובים ביותר—הם משתמשים בטכנולוגיה מסייעת באופן קבוע. עם זאת,
    <strong>כל אחד ואחת יכולים ללמוד</strong>
    כיצד לבדוק האם אתר נגיש או לא.
  </p>

  <a href="https://www.w3.org/WAI/test-evaluate/" target="_blank"
    >לפרטים נוספים
    <span class="visually-hidden">על "רק אנשים בעלי מוגבלויות יכולים לבחון נגישות"</span></a
  >
</section>