---
title: Mitos Aksesibilitas
description: Sebuah proyek kecil yang menyanggah mitos-mitos aksesibilitas yang umum.
stamp: Disanggah
phrase: Tunjukkan situs web ini pada atasan Anda.
lang:
  code: id
  title: Bahasa Indonesia
permalink: id.html
tags: page
layout: page.njk
---

<section class="myth">
  <h2>Aksesibilitas hanya mempengaruhi sekelompok kecil pengguna</h2>

  <p>
    Tidak sekecil itu. Sekitar <strong>15%</strong> populasi dunia, atau diperkirakan <strong>1 miliar</strong> orang,
    hidup dengan disabilitas, mereka adalah kelompok minoritas terbesar di dunia. Jumlah penyandang disabilitas
    meningkat drastis.
  </p>

  <a href="https://www.who.int/en/news-room/fact-sheets/detail/disability-and-health" target="_blank"
    >Lebih Detail
    <span class="visually-hidden">tentang Aksesibilitas hanya mempengaruhi sekelompok kecil pengguna</span></a
  >
</section>

<section class="myth">
  <h2>Penyandang disabilitas tidak menggunakan situs web saya</h2>

  <p>
    Bagaimana Anda bisa begitu yakin? Banyak penyandang disabilitas seperti buta warna, keterbatasan keterampilan
    motorik, dll. menggunakan situs web seperti pengguna lain. Selain itu, banyak
    <strong>teknologi bantu yang tidak dapat dideteksi</strong> dengan cara apa pun.
  </p>

  <a href="https://www.w3.org/WAI/people-use-web/" target="_blank"
    >Lebih Detail
    <span class="visually-hidden">tentang Penyandang disabilitas tidak menggunakan situs web saya</span></a
  >
</section>

<section class="myth">
  <h2>Membuat situs web yang dapat diakses itu mahal dan memakan waktu</h2>

  <p>
    Hal ini mungkin tidak terjadi jika aksesibilitas dipertimbangkan sejak awal proyek dan tim pengembangan memiliki
    keterampilan yang tepat. Saat aksesibilitas telah menjadi kebiasaan,
    <strong>waktu pengembangan tidak berubah</strong> atau berubah sedikit.
  </p>
</section>

<section class="myth">
  <h2>Kita dapat dengan segera menambahkan aksesibilitas sebelum rilis</h2>

  <p>
    Tidak akan bekerja. Mungkin hal-hal yang mudah seperti teks alternatif atau pelabelan formulir dapat ditambahkan
    belakangan, namun beberapa
    <strong>UX yang kompleks harus direncanakan untuk dapat diakses</strong>. Dalam beberapa kasus, membuat fitur yang
    dapat diakses di akhir proses pengembangan malah memerlukan pemfaktoran ulang penuh.
  </p>
</section>

<section class="myth">
  <h2>Aksesibilitas hanya perihal menambahkan teks alternatif ke gambar</h2>

  <p>
    Faktanya, teks alternatif yang hilang pada gambar hanyalah
    <a target="_blank" href="https://webaim.org/projects/million/">salah satu masalah aksesibilitas terbesar</a>. Namun,
    selain ini, ada banyak hal yang harus dipertimbangkan saat membuat situs web yang dapat diakes -
    <strong>struktur judul</strong>, <strong>kontrol fungsional</strong>, <strong>kontras warna</strong> dan banyak
    lagi.
  </p>
</section>

<section class="myth">
  <h2>Aksesibilitas web hanyalah tanggung jawab pengembang</h2>
  <p>
    Ini sebuah upaya tim. <strong>Desainer</strong> membuat UI yang dapat diakses,
    <strong>pengembang</strong> membangunnya, <strong>teknisi QA</strong> melakukan pengujian aksesibilitas,
    <strong>MP</strong> memastikan bahwa aksesibilitas telah disertakan dalam proses tim,
    <strong>tim hukum</strong> memeriksa apakah produk bebas risiko dari perspektif aksesibilitas,
    <strong>manajer konten</strong> menyesuaikan konten agar patuh.
  </p>

  <a href="https://accessibility.digital.gov/" target="_blank"
    >Lebih Detail <span class="visually-hidden">tentang Aksesibilitas web hanyalah tanggung jawab pengembang</span></a
  >
</section>

<section class="myth">
  <h2>Aksesibilitas hanya membantu para penyandang disabilitas</h2>

  <p>
    Untungnya <strong>hal ini membantu semua orang</strong>. Merupakan fakta yang telah diketahui bahwa menerapkan
    prinsip aksesibilitas meningkatkan keseluruhan pengalaman pengguna dan membuat situs web lebih nyaman digunakan.
  </p>
</section>

<section class="myth">
  <h2>Membuat situs web yang dapat diakses tidak membawa manfaat tambahan</h2>

  <p>
    Untuk menyebutkan beberapa di antaranya saja - lebih banyak pengguna, lebih banyak pendapatan, reputasi yang lebih
    baik, tuntutan hukum yang lebih sedikit, kompetensi tim pengembang yang lebih baik and banyak lagi. Pada akhirnya
    melakukan
    <strong>hal baik</strong> bukanlah soal mendapat keuntungan.
  </p>
</section>

<section class="myth">
  <h2>Aksesibilitas dapat diperbaiki dengan lapisan aksesibilitas</h2>

  <p>
    Sama sekali tidak. Ada sebuah
    <a target="_blank" href="https://overlayfactsheet.com/">prakarsa</a>
    yang ditandatangani oleh ratusan profesional yang menganjurkan penghapusan lapisan aksesibilitas web.
  </p>
</section>

<section class="myth">
  <h2>
    Menggunakan perangkat otomatis adalah keseluruhan yang perlu dilakukan untuk membuat situs web saya dapat diakses
  </h2>

  <p>
    Tidak semudah itu. Umumnya pengujian aksesibilitas otomatis hanya dapat menemukan
    <a target="_blank" href="https://marcysutton.com/evinced-automated-accessibility-testing"
      >30-50% permasalahan aksesibilitas</a
    >. Bahkan, beberapa situs web
    <a
      target="_blank"
      href="https://www.matuzo.at/blog/building-the-most-inaccessible-site-possible-with-a-perfect-lighthouse-score/"
      >dapat dibuat sedemikian</a
    >
    sehingga lolos pengujian otomatis meskipun situs web tersebut tidak dapat diakses sama sekali.
  </p>
</section>

<section class="myth">
  <h2>Aksesibilitas hanya untuk pengguna tuna netra</h2>

  <p>
    Tentu saja, aksesibilitas mempengaruhi pengalaman pengguna tuna netra, namun begitu juga pengguna dengan disabilitas
    visual seperti buta warna. Tentunya, hal ini juga bermanfaat bagi penyandang disabilitas lain, terkait pendengaran,
    mobilitas, wicara atau kognisi. Hal ini juga berfungsi untuk pengguna lanjut usia. Singkatnya, untuk semua pengguna.
    Ini <strong>penting untuk beberapa orang, namun bermanfaat untuk semua</strong>.
  </p>

  <a href="https://www.w3.org/WAI/fundamentals/accessibility-intro/" target="_blank"
    >Lebih Detail <span class="visually-hidden">tentang Aksesibilitas hanya untuk pengguna tuna netra</span></a
  >
</section>

<section class="myth">
  <h2>Aksesibilitas adalah pilihan</h2>
  <p>
    Sampai perusahaan Anda dituntut hukum. Pelajari kasus
    <a href="https://www.nad.org/2011/06/16/nad-files-disability-civil-rights-lawsuit-against-netflix/" target="_blank"
      >Netflix</a
    >
    dan
    <a href="https://www.cnbc.com/2019/10/07/dominos-supreme-court.html" target="_blank">Domino</a>
    untuk memahami bahwa harga untuk tak aksesibel bisa jadi terlalu tinggi. Ada
    <a href="https://www.w3.org/WAI/policies/" target="_blank">banyak undang-undang</a>
    yang mungkin mewajibkan situs web untuk dapat diakses.
  </p>
</section>

<section class="myth">
  <h2>Aksesibilitas hanyalah upaya pencegahan tuntutan hukum</h2>

  <p>
    Aksesibilitas adalah tentang pengguna Anda. Tentu saja, mencegah tututan hukum penting untuk perusahaan manapun,
    namun
    <strong>kepuasan pengguna</strong> dan <strong>reputasi perusahaan</strong> membawa nilai yang besar juga.
  </p>
</section>

<section class="myth">
  <h2>Aksesibilitas hanya tentang mengikuti WCAG</h2>

  <p>
    Biasanya ini bermula dari
    <a href="https://www.w3.org/WAI/WCAG21/quickref/" target="_blank">WCAG</a>, namun dalam kenyataan sehari-hari sebuah
    situs web yang patuh tetap mungkin tidak dapat diakses penuh. Aksesibilitas adalah tentang memahami kebutuhan semua
    pengguna termasuk empati dan kesadaran.
  </p>
</section>

<section class="myth">
  <h2>Aksesibilitas dapat dicapai hanya dengan menambahkan atribut ARIA</h2>

  <p>
    Tentu saja,
    <a href="https://www.w3.org/WAI/standards-guidelines/aria/" target="_blank">ARIA</a>
    merupakan bagian aksesibilitas yang penting, namun kaidah kencana ARIA adalah
    <a href="https://w3c.github.io/using-aria/#rule1" target="_blank">"Jangan gunakan Aria"</a>. Banyak atribut ARIA
    mungkin saja tidak diperlukan jika tag
    <a href="https://developer.mozilla.org/en-US/docs/Learn/Accessibility/HTML#good_semantics" target="_blank"
      >semantik HTML</a
    >
    digunakan.
  </p>
</section>

<section class="myth">
  <h2>Kita tidak perlu patuh</h2>

  <p>
    Sepertinya Anda perlu. Ada beberapa undang-undang dan regulasi yang mewajibkan sebuah situs web untuk mengikuti
    prinsip aksesibilitas. Hal ini layak untuk diperiksa.
  </p>

  <a href="https://www.w3.org/WAI/policies/" target="_blank"
    >Lebih Detail <span class="visually-hidden">tentang Kita tidak perlu patuh</span></a
  >
</section>

<section class="myth">
  <h2>Hanya pakar aksesibilitas yang dapat menerapkan perbaikan aksesibilitas</h2>

  <p>
    Untungnya tidak. Setiap orang dengan beberapa keterampilan aksesibilitas dapat menerapkan dan menguji aksesibilitas
    situs web. Bahkan, keterampilan ini tidak hanya mudah untuk dipelajari, namun bisa juga sebuah proses yang
    menyenangkan. Tidak diperlukan sebuah pengalaman yang spesifik untuk menjalankan
    <a href="https://www.w3.org/WAI/test-evaluate/preliminary/" target="_blank">pemeriksaan yang mudah</a>.
  </p>
</section>

<section class="myth">
  <h2>Aksesibilitas seperti fitur - Anda hanya perlu melakukannya sekali dan selesai</h2>

  <p>
    Aksesibilitas adalah kebiasaan, bukan fitur. Artinya seseorang harus merawatnya secara berkala, baik saat
    mengerjakan fitur atau melakukan perawatan. Pengetahuan tentang aksesibilitas harus diteruskan saat ada anggota baru
    yang bergabung dalam tim atau saat persyaratan berubah.
  </p>

  <a href="https://ethanmarcotte.com/wrote/accessibility-is-not-a-feature/" target="_blank"
    >Lebih Detail
    <span class="visually-hidden"
      >tentang Aksesibilitas seperti fitur - Anda hanya perlu melakukannya sekali dan selesai</span
    ></a
  >
</section>

<section class="myth">
  <h2>Aksesibilitas dapat diperbaiki dengan cara menyediakan situs web terpisah untuk penyandang disabilitas</h2>

  <p>
    Itu adalah asumsi lampau yang salah. Sejak saat itu, banyak tim pengembangan
    <strong>belajar dengan susah payah</strong> bahwa merawat beberapa versi situs web dan menjaga pengkinian isinya
    <strong>menghabiskan lebih banyak biaya</strong> ketimbang membuat satu situs web saja yang dapat diakses secara
    penuh.
  </p>
</section>

<section class="myth">
  <h2>Penyandang disabilitas tidak menggunakan web</h2>

  <p>
    Salah. Faktanya, pada beberapa kasus internet adalah
    <strong>satu-satunya cara</strong> bagi penyandang disabilitas untuk berkomunikasi dengan dunia. Saat "orang normal"
    menggunakan perasaan alami mereka seperti penglihatan dan pendengaran,
    <strong>penyandang disabilitas harus bertopang pada teknologi</strong>.
  </p>

  <a href="https://www.w3.org/WAI/people-use-web/" target="_blank"
    >Lebih Detail <span class="visually-hidden">tentang Penyandang disabilitas tidak menggunakan web</span></a
  >
</section>

<section class="myth">
  <h2>Tuna netra tidak menonton film</h2>

  <p>
    Mereka pastinya menonton. Dengan bantuan
    <strong>deskripsi audio</strong> mereka dapat menonton dan mendengar konten media apa pun seperti halnya semua orang
    lain.
  </p>

  <a href="https://www.w3.org/WAI/media/av/description/" target="_blank"
    >Lebih Detail <span class="visually-hidden">tentang Tuna netra tidak menonton film</span></a
  >
</section>

<section class="myth">
  <h2>Aksesibilitas hanya dapat diuji oleh penyandang disabilitas</h2>

  <p>
    Ya, biasanya penyandang disabilitas adalah penguji terbaik - mereka menggunakan teknologi pembantu secara penuh.
    Meskipun demikian,
    <strong>setiap orang dapat belajar</strong> cara menguji aksesibilitas situs web.
  </p>

  <a href="https://www.w3.org/WAI/test-evaluate/" target="_blank"
    >Lebih Detail
    <span class="visually-hidden">tentang Aksesibilitas hanya dapat diuji oleh penyandang disabilitas</span></a
  >
</section>
